#top {
    margin-bottom: 15px;
}

#left {
    margin-right: 15px;
    padding: 20px;
}

#right {
    margin-left: 15px;
    padding: 20px;
}

#pageLoad {
    text-align: center;
    margin-top: 50px;
}
